{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    "istanbul"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
